$ber-gray: #7d86ab;
$white-lilac: #FAFBFD;
$gun-powder: #3F4459;
$raven: #6f7b87;
$blue-haze: #bdc2d6;
$bright-gray: #313648;
$per-gray: #d0d7ed;
$reg-gray: #7b8ea0;
$ath-gray: #f6f7f9;
$kimb: #6c77a5;
$che-blue: #7387dd;
$botti: #c7d7e5;
$nepal: #87a2b9;
$bali: #858fb2;
$lynch: #64709b;
$lavender: #9dabe8;
$cats-white: #dfe8ef;
$pastel-green: #71d36b;
$pale-sky: #707c86;
$mist: #c1cfdd;
$tan: #fb954b;
$coral-red: #fc4242;
$apple: #3b9f35;
$matisse: #1a6791;
$cadet-blue: #a1b1bf;
$selago: #dfe4fa;
$victoria: #475696;
$mystic:#dadfe9;
$malachite:#1ecc32;

$fs10: 0.7142857rem;
$fs11: 0.785714rem;
$fs12: 0.85714rem;
$fs13: 0.9285714rem;
$fs14: 1rem;
$fs15: 1.071428571428571rem;
$fs16: 1.1428rem;
$fs18: 1.2857rem;
$fs20: 1.4285rem;
$fs22: 1.5714rem;
$fs28: 2rem;
