@import "./src/styles/helpers/brand";
.blue-btn {
  color:$che-blue;
  border:1px solid $che-blue;
  background: white;
  padding:5px 15px;
  text-transform: capitalize;
  border-radius: 12px;
  font-size:0.9285714rem!important; //fs13 by REM 14px
  outline: none;
  cursor: pointer;
}
