@import "./src/styles/helpers/brand";

.btn {
  background: white;
  padding: 0px 15px;
  height:21px !important;
  text-transform: capitalize;
  border-radius: 12px;
  font-size: $fs13 !important;
  outline: none;
  cursor: pointer;
  vertical-align: middle;
  &.narrow {
    height:21px !important;
    width:21px !important;
    padding:0;
  }
  &[disabled]{
    opacity: .5;
    pointer-events: none;
  }
}

.blue-btn {
  @extend .btn;
  color: $che-blue;
  border: 1px solid $che-blue;
}

.purple-btn {
  @extend .btn;
  color: $victoria;
  border: 1px solid $victoria;
}
