@import "./src/styles/helpers/brand";

.search-wrapper {
  position: relative;
  display: inline-block;
  font-size: $fs18;
  input[type=text] {
    width: 100%;
    border-radius: 15px !important;
  }
  &:before {
    content: "\F002";
    position: absolute;
    top: calc(50% - 9px);
    right: 10px;
    color: $botti;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
  }
}

input[type=text] {
  border-radius: 2px;
  padding: 0 10px;
  outline: none;
  box-shadow: none;
  border: 1px solid $botti;
  height: 23px;
  line-height: 23px;
  font-size: $fs13;
  color: $shuttle !important;
  font-weight: 100;
  font-family: 'opensans-regular', sans-serif;


}


