$htmlDirection: ltr;
// Base spacing
$ui-space-prefix: unquote('.ui-space');

$ui-spacing-tiny: 5px;
$ui-spacing-small: 10px;
$ui-spacing-regular: 15px;
$ui-spacing-medium: 25px;
$ui-spacing-large: 30px;

@import 'brand';

@function htmlDirection() {
  @if ($htmlDirection == ltr) {
    @return left;
  } @else {
    @return right;
  }
}

@function htmlDirection-rev() {
  @if ($htmlDirection == ltr) {
    @return right;
  } @else {
    @return left;
  }
}

@mixin ui-space($prefix, $suffix, $size) {

  $suffix: unquote($suffix);

  #{$prefix}-#{$suffix} {
    padding: #{$size} !important;;
  }

  // top and bottom, left and right.
  #{$prefix}-tb-#{$suffix} {
    padding-top: #{$size} !important;
    padding-bottom: #{$size} !important;;
  }
  #{$prefix}-lr-#{$suffix} {
    padding-#{htmlDirection-rev()}: #{$size} !important;
    padding-#{htmlDirection()}: #{$size} !important;;
  }

  // top, bottom, left, right
  #{$prefix}-t-#{$suffix} {
    padding-top: #{$size} !important;
  }
  #{$prefix}-b-#{$suffix} {
    padding-bottom: #{$size} !important;
  }
  #{$prefix}-l-#{$suffix} {
    padding-#{htmlDirection()}: #{$size} !important;
  }
  #{$prefix}-r-#{$suffix} {
    padding-#{htmlDirection-rev()}: #{$size} !important;
  }

  #{$prefix}-verti-#{$suffix} {
    @extend #{$prefix}-t-#{$suffix};
  }

  // inner box spacing. for performance sake we use limited selectors
  #{$prefix}-inner-horiz-#{$suffix} {
    margin-#{htmlDirection()}: -#{$size};
    > * {
      padding-#{htmlDirection()}: #{$size};;
    }
  }

}

@include ui-space($suffix: 'tiny', $prefix: $ui-space-prefix, $size: $ui-spacing-tiny);
@include ui-space($suffix: 'small', $prefix: $ui-space-prefix, $size: $ui-spacing-small);
@include ui-space($suffix: 'regular', $prefix: $ui-space-prefix, $size: $ui-spacing-regular);
@include ui-space($suffix: 'medium', $prefix: $ui-space-prefix, $size: $ui-spacing-medium);
@include ui-space($suffix: 'large', $prefix: $ui-space-prefix, $size: $ui-spacing-large);

body {
  font-size: 14px !important;
}

.fs10 {
  font-size: $fs10 !important;
}
.fs11 {
  font-size: $fs11 !important;
}
.fs12 {
  font-size: $fs12 !important;
}
.fs13 {
  font-size: $fs13 !important;
}
.fs14 {
  font-size: $fs14 !important;
}
.fs15 {
  font-size: $fs15 !important
}
.fs16 {
  font-size: $fs16 !important
}
.fs18 {
  font-size: $fs18 !important
}
.fs20 {
  font-size: $fs20 !important
}
.fs22 {
  font-size: $fs22 !important
}
.fs28 {
  font-size: $fs28 !important
}

.ui-button-icon-only .fa {
  font-size: $fs14;
}

.dir-rtl {
  direction: rtl;
}

.scroll-y {
  overflow-y: auto
}

.scroll-x {
  overflow-x: auto
}

.no-margin {
  margin: 0 !important;
}

.no-padding {
  padding: 0 !important;
}

.no-border {
  border: 0 !important;
}

.stretch-height {
  height: 100% !important;
  height: 100%!important;
  max-height: 100%!important;
  min-height: 100%!important;
}

.stretch-width {
  width: 100% !important;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.middle {
  vertical-align: middle;
}

.sub {
  vertical-align: sub;
}

.in-block {
  display: inline-block;
}

.block {
  display: block;
}

.text-data {
  color: black;
  font-weight: bold;
}

.text-decoration-none {
  text-decoration: none;
}

.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
}

.text-bold {
  font-weight: bold;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

* {
  box-sizing: border-box;
}

.width-325 {
  width: 325px
}

.width-250 {
  width: 250px
}

.width-200 {
  width: 200px
}

.width-150 {
  width: 150px
}

.width-125 {
  width: 125px
}

.width-100 {
  width: 100px
}

.width-50 {
  width: 50px
}

.icon {
  display: inline-block;
}

.pointer {
  cursor: pointer;
}

.cursor-default {
  cursor: default;
}

.no-select {
  user-select: none;
}

.full {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

pre {
  margin: 10px 0;
}

.uppercase {
  text-transform: uppercase;
}
ui-key-label{
  margin-right: 10px;
}

//ui-list-item:last-child{
//  border-bottom: 0;
//}
ui-list-item:nth-child(even) {
  border-left: $cats-white 1px solid;
}
ui-list-item.stretch-width:last-child,ui-list-item:not(.stretch-width):nth-last-child(1),ui-list-item:not(.stretch-width):nth-last-child(2){
  border-bottom:0;
}
ui-list-item.stretch-width:nth-child(even) {
   border-left: 0;
 }

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-size: $fs13 !important;
  color: #ccc;
}
::-moz-placeholder { /* Firefox 19+ */
  font-size: $fs13 !important;
  color: #ccc;
}
:-ms-input-placeholder { /* IE 10+ */
  font-size: $fs13 !important;
  color: #ccc;
}
:-moz-placeholder { /* Firefox 18- */
  font-size: $fs13 !important;
  color: #ccc;
}
.margin-button-r {
  margin-right: 5px;
}
