<div class="wrapper ui-space-medium">
  <!--<ui-gauge [config]="donutCofing" [value]="donutCofing.value"></ui-gauge>-->
  <div fxLayout='row' style="height:256px;width:100%;">
    <div class="stretch-height" fxFlex="20" style="margin-right:25px;">
      <ui-portlet class="stretch-height" [header]="'db.connection_status' | translate">p5 content</ui-portlet>
    </div>
    <div class="stretch-height" fxFlex="60" style="margin-right:25px;">
      <ui-portlet class="stretch-height" [header]="'db.devices_status' | translate">p4 content</ui-portlet>
    </div>
    <div class="stretch-height" fxFlex="20">
      <ui-portlet class="stretch-height" [header]="'db.online_status' | translate">
        <ui-gauge [config]="gaugeCofing" [value]="gaugeCofing.value" width="240" style="text-align: center"></ui-gauge>
      </ui-portlet>
    </div>
  </div>
  <div fxLayout='row' class="ui-space-t-medium stretch-width" style="height:336px;">
    <div fxFlex="50" class="stretch-height" style="margin-right:25px;">
      <ui-portlet class="stretch-height" header="p1">p1 content</ui-portlet>
    </div>
    <div fxFlex="50" class="stretch-height">
      <ui-portlet class="stretch-height" header="p2">p2 content</ui-portlet>
    </div>
  </div>
</div>
