@import "../../../../styles/helpers/brand";
.qsm_self{text-align: center}
:host {
  background: transparent;
  .wrapper {
    width: 0;
    height: 0;
    overflow: visible;
    //.left-button-container {
    //  display: inline-block;
    //  width: 28px;
    //  height: 80px;
    //  float: left;

      .open-sliding-panel-btn {
        position: absolute;
        top: 0;
        height: 50px;
        width: 15px;
        //background: $ber-gray;
        background: white;
        border-radius: 20px 0 0 20px;
        box-shadow: -10px 1px 16px rgba(87, 88, 89, 0.19);
        cursor: pointer;
        left: -14px;
        line-height: 50px;
        text-align: center;
        color: $botti;
        &.static {
          left:calc(100% - 28px);
          position: fixed !important;
        }
        i.fa-caret-left {
         /* transform: rotate(180deg);*/
        }
      }
    //}
    .right-bar-container {
    //  display: inline-block;
    //  width: calc(100% - 30px);
    //  height: 100%;
    //  float: right;
    //  background: blue;
      box-shadow: -10px 1px 16px rgba(87, 88, 89, 0.19);
      height:100%;
    }

  }
}

