@import "../../../../styles/helpers/brand";
.qsm_self{text-align: center}
:host {
  background: transparent;
  .wrapper {
    width: 0;
    height: 0;
    overflow: visible;
    //.left-button-container {
    //  display: inline-block;
    //  width: 28px;
    //  height: 80px;
    //  float: left;

      .open-sliding-panel-btn {
        position: absolute;
        top: calc(50% - 20px);
        height: 80px;
        width: 28px;
        background: $ber-gray;
        border-radius: 15px 0 0 15px;
        cursor: pointer;
        left: -28px;
        line-height: 80px;
        text-align: center;
        color: $gun-powder;
        &.static {
          left:calc(100% - 28px);
          position: fixed !important;
        }
      }
    //}
    //.right-bar-container {
    //  display: inline-block;
    //  width: calc(100% - 30px);
    //  height: 100%;
    //  float: right;
    //  background: blue;
    //}
  }
}

