<div class="wrapper">
  <div class="open-sliding-panel-btn static" (click)="open = !open">
    <!--<i class="ui-icons ui-icons-add-new"></i>-->
  </div>
  <ng-sidebar-container>
    <!-- A sidebar -->
    <ng-sidebar [(opened)]="open" [position]="direction === 'ltr' ? 'right' : 'left'">
      <!--<div class="left-button-container">-->
      <!--</div>-->
      <div class="open-sliding-panel-btn" (click)="open = !open">
        <!--<i class="ui-icons ui-icons-all-actions"></i>-->
      </div>
      <div class="right-bar-container">
        <ng-content></ng-content>
      </div>
    </ng-sidebar>
  </ng-sidebar-container>
</div>
