<div class="stretch-height" fxLayout="column">
  <div fxLayout="column" class="stretch-height wrapper space-right ui-space-medium">
    <div class="ui-space-regular">
      <ui-portlet>

        <ui-filters-bar>
            <div class="text-right">
              <ui-label translate="epp.addNewEpp"></ui-label>
              <button (click)="addNew=!addNew;" class="blue-btn narrow ui-icons-add-new"></button>
            </div>
        </ui-filters-bar>

      </ui-portlet>
    </div>

    <div fxFlex fxLayout>
      <div fxFlex class="ui-space-regular">
        <ui-portlet>

          <ag-grid-angular
            (gridReady)="fitCols_epp_table1()"
            style="height: 100%"
            class="ag-fresh stretch-width"
            [gridOptions]="gridOptions">
          </ag-grid-angular>

        </ui-portlet>
      </div>
      <div fxFlex class="ui-space-regular">
        <ui-portlet>

          <ag-grid-angular
            (gridReady)="fitCols_epp_table2()"
            style="height: 100%"
            class="ag-fresh stretch-width"
            [gridOptions]="gridOptions2">
          </ag-grid-angular>

        </ui-portlet>
      </div>
    </div>
  </div>
</div>

<ui-add-new-epp [(show)]="addNew"></ui-add-new-epp>
