
<ui-add-new-epp [(show)]="addNew"></ui-add-new-epp>

<div fxFlex class="wrapper space-right ui-space-medium">
  <ui-portlet>
    <div class="stretch-height" fxLayout="column">
      <ui-filters-bar>
        <div class="text-right">
          <ui-label class="ui-space-r-tiny" translate="epp.addNewEpp"></ui-label>
          <button (click)="addNew=!addNew;" class="blue-btn narrow ui-icons-add-new"></button>
        </div>
      </ui-filters-bar>

      <ag-grid-angular
        (gridReady)="fitCols_epp()"
        fxFlex
        class="ag-fresh stretch-width"
        [gridOptions]="gridOptions">
      </ag-grid-angular>
    </div>

  </ui-portlet>
</div>
