@import "../helpers/brand";

.ng-sidebar {
  overflow: visible !important;
  //position: relative;
  height:670px !important;
  top:55px !important;
  //border: 1px solid $ber-gray;
  border-right:none;
  //border-radius: 5px 0 0 0;
}
