@import "../helpers/brand";

.ng-sidebar {
  overflow: visible !important;
  //position: relative;
  height:80% !important;
  min-height: 615px !important;
  top:10% !important;
  border: 2px solid $ber-gray;
  //box-shadow: 0 0 27px rgba(145, 164, 182, .44);
  border-right:none;
  border-radius: 5px 0 0 5px;
}
