@import "../helpers/brand";
.nvtooltip {
  background:red;
  padding:3px;
  border:lightgray;
  background:black;
  color:white;
  font-family:'opensans-regular';
}

.nvd3 {
  .nv-pie {
    .nv-pieLabels  {
      .nv-slice {
        text {
          fill: $matisse !important;
          color: $matisse !important;
        }
      }
    }

  }
}
