
p-calendar {

  .ui-calendar-w-btn{
    input {
      color: #5d6a76;
      width: 130px;
      border-right: 0;
    }
  }

  .ui-datepicker.ui-widget {
    top: 30px!important;
    width: 16em;
    background: #ffffff;


    .ui-datepicker-prev,.ui-datepicker-next {
      top: .375em;
      font-weight: bold;
      span {
        font-size: 20px;
        font-weight: bold;
        color: #7590a8;
      }
    }

    .ui-datepicker-calendar {
      thead {
        th {
          padding: 0;
          text-transform: uppercase;
          background-color: #ffffff;
        }
      }

      td {
        border: none;
        a {
          padding: 4px 0;
          margin: 5px;
          background-color: #f5f7fb;
          &.ui-state-active {
            background-color: #3f4459;
          }
        }
      }
    }

    .ui-widget-header {
      background: #ffffff !important;
      padding-top: 0;
      padding-bottom: 10px;
    }

    .ui-datepicker-title {
      font-weight: bold;
      color: #7590a8;
      margin: 0 3.5em;
      line-height: 2.8em;
      background-color: #f4f7f9;
      -webkit-border-bottom-right-radius: 30px;
      -webkit-border-bottom-left-radius: 30px;
      -moz-border-radius-bottomright: 30px;
      -moz-border-radius-bottomleft: 30px;
      border-bottom-right-radius: 30px;
      border-bottom-left-radius: 30px;
    }

    .ui-datepicker-header {
      border: none;
    }


    .ui-timepicker.ui-widget-header  {
      border: 0;
      background-color: #f4f7f9!important;
      span {
        font-size: 26px;
        color: #5b7285;
        &fa {
          color: #87a2b9;
        }
      }
    }
  }



}
.ui-calendar button {
  position: absolute;
  height: 100%;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  position: absolute;
  width: 2em;
  border-left: 0 none;
  border-right: 1px solid;
}
.ui-button {
  margin-left: 0;
  margin-right: .1em;
}
.ui-inputtext.ui-state-focus, .ui-inputtext:focus {
  box-shadow: none !important;
}
.ui-datepicker{
 left: 0;
  right: auto;
}
