@import "./src/styles/helpers/brand";

.ui-datatable table {
  border: none !important;
  tbody {
    border: none !important;
    tr {
      border-bottom: 1px solid lightgray !important;
      &:last-child {
        border-bottom: none !important;
      }
    }
  }
  tr {
    border: none !important;
    th {
      border: none !important;
      background: $ath-gray !important;
      text-align: left !important;
      height: 40px;
      width: 150px;
      line-height: 40px;
      color: $kimb;
      text-transform: uppercase;
      font-size: $fs11 !important;
      white-space: nowrap;
      &:first-child {
        padding-left: 15px !important;
      }

    }
    td {
      border: none !important;
      height: 30px;
      line-height: 30px;
      width: 150px;
      background: white !important;
      font-size: $fs13 !important;
      white-space: nowrap;
      text-overflow: ellipsis;
      text-transform: capitalize;
      text-align: left;
      &:first-child {
        padding-left: 15px !important;
      }

    }
  }
  .small {
    width: 65px !important;
  }
  .medium {
    width: 110px !important;
  }
  .long {
    width: 150px !important;
  }
}

.ui-dropdown {
  .qsm_self {
    text-align: center
  }
  border: 1px solid $botti !important;
  .ui-dropdown-trigger {
    border: none !important;
    color: $nepal !important;
    right: 0 !important;
    left: auto !important;
  }
  .ui-dropdown-label {
    height: 21px;
    line-height: 15px;
    padding-left: 10px;
    font-size: $fs13;
    color: $shuttle !important;
    font-weight: 100;
    font-family: 'opensans-regular', sans-serif;

  }
  .ui-dropdown-item {
    text-align: left !important;
  }
  .ui-state-highlight {
    background: $gun-powder;
  }
  .ui-dropdown-trigger .fa {
    margin-top: 4px !important;
  }
}

.ui-chkbox {
  .ui-chkbox-box {
    height: 14px;
    line-height: 12px;
    width: 14px;
    border: 1px solid $botti;
    border-radius: 2px;
    &.ui-state-active {
      color: $kimb;
      background: transparent;
      border: 1px solid $botti;
    }
    .ui-chkbox-icon {
      font-size: $fs10 !important;
    }
  }
}

.ui-calendar {
  .ui-button-icon-only {
    background: white;
    color: $casper;
    border-color: $botti;
  }
  .ui-button:enabled:hover {
    background-color: #9dabe8;
    border-color: #c7d7e5;
  }
}
input.ng-invalid.ng-touched{
  border:1px solid $coral-red!important;
}
.ui-growl {
  bottom: 20px!important;
  top: auto!important;
}
.ui-tooltip{
  z-index: 3000!important;
  padding: 2px 5px;

}
