<div class="stretch-height" fxLayout="column">
  <ui-filters-bar>
    <div fxLayout>
      <ui-atms-notifications-filters (onChange)="filter($event)"
                                     [filters]="filtersLastState"></ui-atms-notifications-filters>
      <div fxFlex class="text-right">

      </div>
    </div>

  </ui-filters-bar>
  <router-outlet></router-outlet>


  <ag-grid-angular
    (rowDoubleClicked)="showTransaction($event)"
    fxFlex
    (gridReady)="fitCols()"
    class="ag-fresh"
    [gridOptions]="gridOptions">
  </ag-grid-angular>

</div>

