
  <div class="stretch-height" fxLayout="column">
    <ui-filters-bar>
      <div fxLayout>
        <ui-atms-notifications-filters (onChange)="filter($event)" [filters]="filtersLastState"></ui-atms-notifications-filters>
        <div fxFlex class="text-right">

        </div>
      </div>

    </ui-filters-bar>

    <ag-grid-angular
      (click)="showTransaction()"
      fxFlex
      (gridReady)="fitCols()"
      class="ag-fresh"
      [gridOptions]="gridOptions">
    </ag-grid-angular>

  </div>


<ui-transaction [(show)]="transaction"></ui-transaction>
