<ui-portlet>

  <div fxLayout="column" class="stretch-height">

    <div fxLayout fxFlex>
      <div fxFlex class="ui-space-regular">
        <ui-controls-group fxLayout="column" class="stretch-height" [header]="'atm.General' | translate">
          <div fxFlex>
            <ag-grid-angular
              fxFlex
              (gridReady)="fitCols_General()"
              class="ag-fresh"
              [gridOptions]="atm_status_specs.gridOptions_General">
            </ag-grid-angular>
          </div>
        </ui-controls-group>
      </div>
      <div fxFlex class="ui-space-regular">
        <ui-controls-group fxLayout="column" class="stretch-height" [header]="'atm.SummaryOfAssemblies' | translate">
          <div fxFlex>
            <ag-grid-angular
              fxFlex
              (gridReady)="fitCols_SummaryOfAssemblies()"
              class="ag-fresh"
              [gridOptions]="atm_status_specs.gridOptions_SummaryOfAssemblies">
            </ag-grid-angular>
          </div>
        </ui-controls-group>
      </div>
    </div>

    <div fxLayout fxFlex>
      <div fxFlex class="ui-space-regular">
        <ui-controls-group [header]="'atm.RecentActions' | translate">
          <ui-list>
            <ui-list-item *ngFor="let item of recent_actions" [data]="item | keys"></ui-list-item>
          </ui-list>
        </ui-controls-group>
      </div>

      <div fxFlex class="ui-space-regular">
        <ui-controls-group fxLayout="column" class="stretch-height" [header]="'atm.Keys' | translate">

          <div fxFlex>
            <ag-grid-angular
              fxFlex
              (gridReady)="fitCols_Keys()"
              class="ag-fresh"
              [gridOptions]="atm_status_specs.gridOptions_Keys">
            </ag-grid-angular>
          </div>

        </ui-controls-group>
      </div>
    </div>
  </div>

</ui-portlet>
