@import './src/styles/helpers/brand';

:host {
  display: inline-block;
  font-size: $fs11;
  text-transform: uppercase;
  .key_label {
    color: $kimb;
  }
  .value_label {
    color: $victoria;
    font-weight: bold;
  }
}
