<ul>
  <li><a routerLink="" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active">{{"menu.main" | translate}}</a></li>
  <li><a routerLink="atm" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active">{{"menu.atm" | translate}}</a></li>
  <li><a routerLink="epps" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active">{{"menu.epps" | translate}}</a></li>
  <li><a routerLink="hsm" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active">{{"menu.hsm" | translate}}</a></li>
  <li><a routerLink="reports" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active">{{"menu.reports" | translate}}</a></li>
</ul>
