@import "../../../../../../src/styles/helpers/brand";

:host {
  ul {
    li {
      height: 50px;
      line-height: 50px;
      text-align: center;
      cursor: pointer;
      outline: none;
      &.active {
        background:$bright-gray;
      }
      a {
        text-decoration: none !important;
        color: $blue-haze;
        text-transform: uppercase;
      }
    }
  }
}
