<ul class="fs11">
  <li routerLink="" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active"><a>{{"menu.main" | translate}}</a></li>
  <li routerLink="atm" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active"><a>{{"menu.atm" | translate}}</a></li>
  <li routerLink="epps" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active"><a>{{"menu.epps" | translate}}</a></li>
  <li routerLink="hsm" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active"><a>{{"menu.hsm" | translate}}</a></li>
  <li routerLink="reports" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active"><a>{{"menu.reports" | translate}}</a></li>
</ul>
