@import './src/styles/helpers/brand';

:host {
  display: inline-block;
  vertical-align: middle;
  color: $reg-gray;
  font-size:0.9285714rem!important; //fs13 by REM 14px
  font-family: 'opensans-light', sans-serif;
}
