.qsm_self{text-align: center}
@import "./src/styles/helpers/brand";
:host{
  background: $gun-powder;
  position: relative;
  .qsm-logo{
    padding-top:10px;
    text-align: center;
    height:74px;
    line-height:74px;
    img {
      height:30px !important;
    }
  }
}
