@import "./src/styles/helpers/brand";
:host {
  .wrapper {
    height: 215px;
    position: relative;
    .label {
      text-transform: uppercase;
      color:$pale-sky;
    }
    .gauge-wrapper {
      height: 150px;
      position: relative;
      overflow: hidden;
      .icon-wrapper {
        position: absolute;
        width: 100%;
        top: calc(50% - 14.5px);
        .icon {
          height:27px !important;
        }
      }
      .gauge {
        position: absolute;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
      }
    }
    .value {
      color:$pale-sky;
      .perc {
        opacity: .6;
      }
    }
  }
}
