@import "./src/styles/helpers/brand";
:host {
  .wrapper {
    height: 215px;
    .label {
      color: $pale-sky;
    }
    .gauge-wrapper {
      height: 150px;
      overflow: hidden;
      .icon-wrapper {
        top: calc(50% - 14.5px);
        .icon {
          height: 27px !important;
        }
      }
      .gauge {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
    .value {
      color: $pale-sky;
      .perc {
        opacity: .6;
      }
    }
  }
}
