@import "./src/styles/helpers/brand";
:host {
  height:100%;
  .wrapper {
    .green {
      background: $pastel-green;
    }
    .red {
      background: $coral-red !important;
    }
    i {
      color:$apple;
    }
    .label {
      transform: rotate(90deg);
      color:$apple;
      font-family: opensans-bold;
    }
  }
}
