@import "./src/styles/helpers/brand";

:host {
  height: 100%;
  .wrapper {
    .tag {
      height: 35%;
      color: $apple;
      .number {
        height: 50px;
        .label {
          transform: rotate(90deg);
        }
      }
      &.green {
        background: $pastel-green;
      }
      &.red {
        background: $coral-red !important;
      }
    }



  }
}
