<form class="stretch-height scroll-y" [formGroup]="form">
  <masonry  [options]="masonryOptions" class="form-body">
    <masonry-brick  *ngFor="let group of controlGroups" class="brick">
      <ui-controls-group  [headers]="group.label" >
        <div class="ui-space-tb-small" [formGroupName]="group.name">

        <div class="input-wrapper stretch-width" fxLayout fxLayoutAlign="start center" *ngFor="let i of group.controls">
          <ui-label *ngIf="i.label" [fxFlex]="100/3" [fxFlexOrder]="i.type === 'checkbox' ? 1 : 0">{{i.label | translate}}<span *ngIf="i.type !== 'checkbox'">:</span></ui-label>
          <ui-input [controlName]="i.name"
                    [group]="form.controls[group.name]"
                    [placeholder]="i.placeholder"
                    [type]="i.type"
                    [options]="i.options"
                    [fxFlex]="i.type === 'checkbox' ? '22px' : (100/3)*2"
                    [fxFlexOrder]="i.type === 'checkbox' ? 0 : 1"
                    *ngIf="i.type !== 'inputGroup'"
          ></ui-input>
          <div class="group-container" *ngIf="i.type === 'inputGroup'" [formGroupName]="i.name" fxLayout
               [fxFlex]="(100/3)*i.inputs.length">
          <div class="input-group-wrapper" *ngFor="let input of i.inputs">
            <ui-input
              [group]="form.controls[group.name].controls[i.name]"
              [controlName]="input.name"
              [placeholder]="input.placeholder"
              [type]="input.type"
              [options]="input.options"
              *ngIf="input"
            ></ui-input>
          </div>
          </div>
        </div>

        </div>
      </ui-controls-group>
    </masonry-brick>
  </masonry>

</form>
<!--<pre>-->
<!--{{form.value | json}}-->
<!--</pre>-->

