@import "./src/styles/helpers/brand";
:host {
  .form-body {
    height:calc(100% - 40px);
    .input-wrapper {
      height:32px;
      padding: 0 15px;
      ui-label {
        width:125px;
      }
      .group-container {
        ui-input {
          margin-right:5px;
          &:last-child {
            margin-right:0 !important;
          }
        }
      }
    }
    ui-controls-group {
      width:400px;
      border-right:1px solid $ath-gray;
    }
  }
  .footer {
    border-top: 1px solid $selago;
    height:40px;
    line-height:40px;
    button {
      margin-right:15px;
    }
  }
}
