@import './src/styles/helpers/brand';

:host {
  display: block;
  border-bottom: solid 1px $cats-white;
    li {
      width: 100%;
      height: 32px;
      line-height: 32px;
      display: block;
      div {
        padding: 0 10px;
        font-size: $fs13;
        color: $raven;
      }
    }
}
