
<form [formGroup]="form">
  <div class="in-block ui-space-r-regular middle">
    <ui-label translate="atms.filters.chooseAtm"></ui-label>
    <p-dropdown formControlName="atm" [options]="ddOptions" [(ngModel)]="ddModel"></p-dropdown>
  </div>
  <div class="in-block ui-space-r-regular middle">
    <ui-label translate="atms.filters.group"></ui-label>
    <p-dropdown formControlName="group" [options]="ddOptions" [(ngModel)]="ddModel"></p-dropdown>
  </div>
  <div class="in-block ui-space-r-regular middle">
    <ui-label translate="atms.filters.region"></ui-label>
    <p-dropdown formControlName="region" [options]="ddOptions" [(ngModel)]="ddModel"></p-dropdown>
  </div>
  <button class="blue-btn" translate="app.go"></button>
  {{form.valid}}
</form>
