<div class="wrapper stretch-height">
  <ui-portlet class="stretch-height" footer="1" [header]="'db.connection_status' | translate">
    <div class="wrapper" fxLayout="column" fxLayoutWrap="true" style="padding-top: 10px;">
      <div *ngFor="let item of data" style="margin-bottom:15px">
        <ui-status-indicator [status]="item.status" limit="true" [title]="item.label.toUpperCase()">{{item.label}}</ui-status-indicator>
      </div>
    </div>
    <div footer>
      <div fxLayout fxLayoutAlign="center center">
        <ui-status-indicator size="small" style="margin-right:20px !important;">{{'db.in_order' | translate}}</ui-status-indicator>
        <ui-status-indicator size="small" status="warning" style="margin-right:20px;">{{'db.attention' | translate}}</ui-status-indicator>
        <ui-status-indicator size="small" status="danger">{{'db.broken' | translate}}</ui-status-indicator>
      </div>
    </div>
  </ui-portlet>
</div>






