<ui-portlet>
  <div fxLayout="column" class="ui-space-small stretch-height">

    <div fxLayout fxFlex>
      <div fxFlex class="ui-space-regular">
        <ui-controls-group fxLayout="column" class="stretch-height" [header]="widgetsData[0].header | translate">
          <div fxFlex>
            <ag-grid-angular
              fxFlex
              class="ag-fresh"
              [gridOptions]="widgetsData[0].gridData">
            </ag-grid-angular>
          </div>
        </ui-controls-group>
      </div>
      <div fxFlex class="ui-space-regular">
        <ui-controls-group fxLayout="column" class="stretch-height" [header]="widgetsData[1].header | translate">
          <div fxFlex>
            <ag-grid-angular
              fxFlex
              class="ag-fresh"
              [gridOptions]="widgetsData[1].gridData">
            </ag-grid-angular>
          </div>
        </ui-controls-group>
      </div>
    </div>

    <div fxLayout fxFlex>
      <div fxFlex class="ui-space-regular">
        <ui-controls-group fxLayout="column" class="stretch-height" [header]="widgetsData[2].header | translate">
          <ag-grid-angular
            fxFlex
            class="ag-fresh"
            [gridOptions]="widgetsData[2].gridData">
          </ag-grid-angular>
        </ui-controls-group>
      </div>

      <div fxFlex class="ui-space-regular">
        <ui-controls-group fxLayout="column" class="stretch-height" [header]="widgetsData[3].header | translate">

          <div fxFlex>
            <ag-grid-angular
              fxFlex
              class="ag-fresh"
              [gridOptions]="widgetsData[3].gridData">
            </ag-grid-angular>
          </div>

        </ui-controls-group>
      </div>
      <div fxFlex class="ui-space-regular">
        <ui-controls-group fxLayout="column" class="stretch-height" [header]="widgetsData[4].header | translate">

          <div fxFlex>
            <ag-grid-angular
              fxFlex
              class="ag-fresh"
              [gridOptions]="widgetsData[4].gridData">
            </ag-grid-angular>
          </div>

        </ui-controls-group>
      </div>
    </div>
  </div>

</ui-portlet>
