:host {
  .wrapper {
    .row {
      //margin-bottom:25px;
      ui-accesories-card {
        padding-left:25px;
        height:300px;
        &:first-child {
          padding-left:0;
        }
      }
    }
  }
}
