:host {
  .wrapper {
    .row {
      margin-bottom:25px;
      ui-accesories-card {
        margin-right:25px;
        height:300px;
        &:last-child {
          margin-right:0;
        }
      }
    }
  }
}
