<p-dialog [(visible)]="show" [modal]="true" class="dialog-no-padding add-atm-dialog">
  <p-header>{{'atm.transaction' | translate}} {{transactionId}}</p-header>
  <div class="scroll-y ui-space-tb-regular ui-space-l-regular" style="width: 1260px;height: 600px">
    <div *ngIf="showValue">
      <masonry [options]="masonryOptions" class="form-body stretch-width">
        <masonry-brick *ngFor="let item of data" class="brick" style="width:400px;margin-right: 15px">
          <ui-controls-group [header]="item.title">
            <ui-list >
              <ui-list-item
                [block]="true"
                *ngFor="let row of item.data"
                [data]="[{value:row.key},{value:row.value}]"></ui-list-item>
            </ui-list>
          </ui-controls-group>
        </masonry-brick>
      </masonry>
    </div>
  </div>

  <p-footer>
    <span class="pull-right">
      <button (click)="show=false" class="btn blue-btn">{{'general.close' | translate}}</button>
    </span>
  </p-footer>
</p-dialog>
