<div class="stretch-height">

<ui-portlet>
  <div fxLayout="column" class="inside-portlet-wrapper stretch-width stretch-height">

   <!-- <ag-grid-angular
      fxFlex
      class="ag-fresh stretch-height"
      [gridOptions]="gridOptions">
    </ag-grid-angular>-->


  <!--  <ui-filters-bar>
      <div fxLayout>
       <div>
         kgjgj
       </div>
        <div fxFlex class="text-right">
          <span class="ui-space-r-regular">
            <ui-label translate="general.all"></ui-label>
            <button (click)="action('CLOSE_ALL')" class="narrow close-btn ui-icons-close"></button>
            <button (click)="action('OPEN_ALL')" class="narrow open-btn ui-icons-open"></button>
          </span>
          <span class="ui-space-r-regular">
            <ui-label translate="general.selected"></ui-label>
            <button [disabled]="!selectedItems" (click)="action('CLOSE',gridOptions.api.getSelectedRows())" class="narrow close-btn ui-icons-close"></button>
            <button [disabled]="!selectedItems" (click)="action('OPEN',gridOptions.api.getSelectedRows())" class="narrow open-btn ui-icons-open"></button>
          </span>
          <button (click)="addNew=!addNew;" class="blue-btn narrow ui-icons-add-new"></button>
        </div>
      </div>

    </ui-filters-bar>-->

    <div fxFlex class="ui-space-regular">
      cxvxcvxcvxcv
      xcvxcvxcvxcvxcvxcv

      xcvxcvxcvxcvxcv
      xcvxcvxcv
      xcvxcvxcv
      xcvxcvxcvxc
    </div>

    <div fxFlex class="ui-space-regular">
      cxvxcvxcvxcv
      xcvxcvxcvxcvxcvxcv

      xcvxcvxcvxcvxcv
      xcvxcvxcv
      xcvxcvxcv
      xcvxcvxcvxc
    </div>






  </div>
</ui-portlet>

</div>


<!--
(gridReady)="fitCols_weeks_statistics()"-->
