<div>

  <ui-portlet>
    <ui-filters-bar>
      <div fxLayout>

        <div>
          <span class="sub in-block ui-space-r-tiny">
            <ui-label translate="hsm.tabs.status"></ui-label>
          </span>
          <span class="sub in-block">
            <ui-label>
            <ui-status-indicator
              [status]="data?.hsmStatus" [showStatus]="true"></ui-status-indicator>
            </ui-label>
          </span>
        </div>

        <div fxFlex class="text-right">
          <span class="ui-space-r-regular">
            <ui-label translate="hsm.status.closeLink"></ui-label>
            <button (click)="sessionAction('SESSION_DOWN')" [disabled]="!selectedSessions.length" class="narrow close-btn ui-icons-close"></button>
          </span>
          <span class="ui-space-r-regular">
            <ui-label translate="hsm.status.openLink"></ui-label>
            <button (click)="sessionAction('SESSION_UP')" [disabled]="!selectedSessions.length" class="narrow open-btn ui-icons-open"></button>
          </span>
          <span class="ui-space-r-regular">
            <ui-label translate="hsm.status.checkLink"></ui-label>
            <button (click)="sessionAction('SESSION_TEST')" [disabled]="!selectedSessions.length" class="narrow info-btn ui-icons-info"></button>
          </span>
          <span class="ui-space-r-regular">
            <ui-label translate="hsm.status.addAtm"></ui-label>
            <button (click)="addNew=!addNew;" class="blue-btn narrow ui-icons-add-new"></button>
          </span>
        </div>

      </div>
    </ui-filters-bar>
  </ui-portlet>

  <ui-hsm-table [gridData]="data.hsms"></ui-hsm-table>

  <ui-hsm-link-table (selectedSessions)="setSelectedSessions($event)" [gridData]="data.sessions"></ui-hsm-link-table>

</div>
<ui-add-new-hsm [(show)]="addNew"></ui-add-new-hsm>

