<div class="stretch-height">

  <div fxLayout="column" class="inside-portlet-wrapper stretch-width stretch-height">
    <ui-portlet fxFlex="10%">
      <ui-filters-bar>
        <div fxLayout>
          <div>
            XXXXXXXXXXXXXXXX
          </div>
          <div fxFlex class="text-right">
          <span class="ui-space-r-regular">
            <ui-label translate="general.all"></ui-label>
            <button (click)="action('CLOSE_ALL')" class="narrow close-btn ui-icons-close"></button>
            <button (click)="action('OPEN_ALL')" class="narrow open-btn ui-icons-open"></button>
          </span>
            <span class="ui-space-r-regular">
            <ui-label translate="general.selected"></ui-label>
            <button [disabled]="!selectedItems" (click)="action('CLOSE',gridOptions.api.getSelectedRows())"
                    class="narrow close-btn ui-icons-close"></button>
            <button [disabled]="!selectedItems" (click)="action('OPEN',gridOptions.api.getSelectedRows())"
                    class="narrow open-btn ui-icons-open"></button>
          </span>
            <button (click)="addNew=!addNew;" class="blue-btn narrow ui-icons-add-new"></button>
          </div>
        </div>
      </ui-filters-bar>
    </ui-portlet>

    <div fxFlex="20%" class="ui-space-tb-regular">
      <ui-portlet>
        <ag-grid-angular
          fxFlex
          (gridReady)="fitCols_hsm_table()"
          class="ag-fresh"
          [gridOptions]="gridOptions">
        </ag-grid-angular>
      </ui-portlet>
    </div>

    <div fxFlex="70%">
      <ui-portlet>
        <ag-grid-angular
          fxFlex
          (gridReady)="fitCols_link_table()"
          class="ag-fresh"
          [gridOptions]="gridOptions2">
        </ag-grid-angular>
      </ui-portlet>
    </div>

  </div>

</div>
<ui-add-new-hsm [(show)]="addNew"></ui-add-new-hsm>


<!--(gridReady)="fitCols_weeks_statistics()"-->
