<script src="inventory.component.ts"></script>
<ui-portlet>
  <div class="stretch-height" fxLayout="column">
    <ui-filters-bar>
      <div fxLayout>
        <ui-atms-inventory-filter [filters]="filtersData"></ui-atms-inventory-filter>
        <div fxFlex class="text-right">
          <button (click)="addNew=!addNew;" class="blue-btn ui-icons-add-new"></button>
        </div>
      </div>

    </ui-filters-bar>


    <ag-grid-angular
                     fxFlex
                     class="ag-fresh"
                     [gridOptions]="gridOptions">
    </ag-grid-angular>
  </div>

</ui-portlet>



<p-dialog *ngIf="addNew" [(visible)]="addNew" [modal]="true" class="dialog-no-padding add-atm-dialog">
  <p-header translate="atm.addNewAtm"></p-header>
  <div class="scroll-y" style="width: 1200px; height: 615px">
    <ui-new></ui-new>
  </div>
  <p-footer>
    <button>dsdsdsd</button>
  </p-footer>
</p-dialog>
