<div class="stretch-height" fxLayout="column">
  <ui-filters-bar>
    <div fxLayout>
      <ui-atms-inventory-filter
        (onChange)="filter($event)"
        [filters]="filtersData"></ui-atms-inventory-filter>
      <div fxFlex class="text-right">

        <span class="ui-space-r-regular">
            <ui-label class="ui-space-r-tiny" translate="general.all"></ui-label>
            <button (click)="action(atmsActions.CLOSE_ALL)" class="narrow margin-button-r close-btn ui-icons-close"></button>
            <button (click)="action(atmsActions.OPEN_ALL)" class="narrow open-btn ui-icons-open"></button>
          </span>
        <span class="ui-space-r-regular">
            <ui-label class="ui-space-r-tiny" translate="general.selected"></ui-label>
            <button [disabled]="!selectedItems" (click)="action(atmsActions.CLOSE,gridOptions.api.getSelectedRows())"
                    class="narrow margin-button-r close-btn ui-icons-close"></button>
            <button [disabled]="!selectedItems" (click)="action(atmsActions.OPEN,gridOptions.api.getSelectedRows())"
                    class="narrow open-btn ui-icons-open"></button>
          </span>
        <ui-label class="ui-space-r-tiny" translate="atm.addNewAtm"></ui-label>
        <button (click)="addNew=!addNew;" class="blue-btn narrow ui-icons-add-new"></button>
      </div>
    </div>

  </ui-filters-bar>
  <ag-grid-angular
    (rowDoubleClicked)="selectItem($event)"
    (selectionChanged)="selection($event)"
    fxFlex
    class="ag-fresh"
    [gridOptions]="gridOptions">
  </ag-grid-angular>
</div>

<ui-add-new [(show)]="addNew"></ui-add-new>


