<ui-portlet>
  <div class="stretch-height" fxLayout="column">
    <ui-filters-bar>
      <div fxLayout>
        <ui-atms-inventory-filter></ui-atms-inventory-filter>
        <div fxFlex class="text-right">
          <button (click)="addNew=!addNew;" class="blue-btn ui-icons-add-new"></button>
        </div>
      </div>

    </ui-filters-bar>


    <ag-grid-angular
      fxFlex
      class="ag-fresh"
      [gridOptions]="gridOptions">
    </ag-grid-angular>
  </div>

</ui-portlet>


<p-dialog *ngIf="addNew" [(visible)]="addNew" [modal]="true" class="dialog-no-padding add-atm-dialog">
  <p-header translate="atm.addNewAtm"></p-header>
  <div class="scroll-y" style="width: 1200px; height: 615px">
    <ui-new></ui-new>
  </div>
  <p-footer>
    <span class="pull-right">
      <button class="btn purple-btn">{{'general.submit' | translate}}</button>
      <button class="btn blue-btn">{{'general.cancel' | translate}}</button>
    </span>
  </p-footer>
</p-dialog>
