<div class="qsm-main-wrapper" [ngStyle]="{'direction':direction}" [ngClass]="{'in':direction}"
     [direction-selection]="direction" fxLayout="row">

  <ui-sliding-panel [(open)]="panelStatus" icon="fa fa-caret-left" *ngIf="router.url!='/'" [direction]="direction">
    <div [ngSwitch]="panelStatus" class="stretch-height">
      <div  *ngSwitchCase="true" class="scroll-y scroll-x stretch-height">
        <ui-dashboard style="max-width: 1300px"></ui-dashboard>
      </div>
      <div class="closed-wrapper stretch-height no-select cursor-default" *ngSwitchCase="false">
        <ui-db-closed-wrapper class="stretch-width stretch-height" fxLayout="column"></ui-db-closed-wrapper>
      </div>
    </div>
  </ui-sliding-panel>

  <ui-sidebar fxFlex="110px"></ui-sidebar>
  <div class="background-wrapper" fxFlex fxLayout="column">
    <ui-header></ui-header>
    <div fxFlex class="scroll-y">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<div class="lang-switcher">
  <div>{{panelStatus}} | {{translate.currentLang}}</div>
</div>



