<div fxLayout="column" class="stretch-height">

  <div>
    <ui-portlet>
      <ui-filters-bar>
        <ui-hsm-filter (onChange)="filter($event)" [filters]="filtersLastState"></ui-hsm-filter>
      </ui-filters-bar>
    </ui-portlet>
  </div>

  <ui-hsm-weeks-statistics [gridData]="data?.statistics1" [date]="filtersLastState?.dateStatistics1" fxFlex class="ui-space-tb-regular"></ui-hsm-weeks-statistics>
  <ui-hsm-weeks-statistics [gridData]="data?.statistics2" [date]="filtersLastState?.dateStatistics2" fxFlex></ui-hsm-weeks-statistics>

  <!--<ui-hsm-weeks-statistics fxFlex></ui-hsm-weeks-statistics>-->

</div>

