@import "./src/styles/helpers/brand";
.qsm_self{text-align: center}
:host {
  span {
    color: #949dc1;
    text-transform: uppercase;
    &.time-label {
      margin: 0 15px;
      position: relative;
      &:before {
        content: '';
        width: 1px;
        position: absolute;
        top: 0;
        left: -15px;
        z-index: 1;
        height: 100%;
        background:$per-gray;
      }
      &:first-child {
        margin-left:0;
        &:before {
          display: none;
        }
      }
    }
    .time {
      //font-family: opensans-bold;
    }
  }
}
