@import "./src/styles/helpers/brand";
:host {
  //padding-bottom: 15px;
  display: block;
  border:1px solid $ath-gray;
  //margin-bottom:15px;
  .form-inner-title {
    font-size: $fs12 !important;
    color: $kimb;
    background: $ath-gray;
    padding: 10px 0;
    text-transform: uppercase;
    font-family: 'opensans-regular', sans-serif;
    &:first-child{
      padding: 10px 0 10px 15px;
    }
    &:last-child{
      padding-right: 15px;
    }
    //margin-bottom:10px;
  }
}
