@import "./src/styles/helpers/brand";
:host {
  padding-bottom: 15px;
  display: block;
  border:1px solid $ath-gray;
  margin-bottom:15px;
  .form-inner-title {
    font-weight: bold;
    font-size: $fs11 !important;
    color: $victoria;
    background: $selago;
    padding: 10px 15px;
    text-transform: uppercase;
    //margin-bottom:10px;
  }
}
