@import './src/styles/helpers/brand';

:host {
  display: block;
  max-width: 100%;
  .wrapper {
    box-shadow: 0 0 27px rgba(145, 164, 182, .44);
    border-radius: 2px;
    background: white;
    padding-bottom: 3px;
    .header {
      background: transparent;
      padding: 15px 10px;
      color: $reg-gray;
      text-transform: uppercase;
      height:40px;
    }
    .body {
      &.tall {
        height:calc(100% - 40px);
      }
      &.short {

      }
    }
    .footer {
      border-top: 1px solid $cats-white;
      padding: 10px 0;
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }
}
