:host {
  .wrapper {
    .chart-wrapper {
      height: 275px;
      top: calc(50% - 140px);
      app-nvd3 {
        position: absolute;
        top: -45px;
        left: 0;
        width: 100%;

      }
    }
  }
}
