<div class="wrapper stretch-height">
  <ui-portlet class="stretch-height" [header]="'db.actions_status' | translate" [footer]="true">
    <div class="inside-portlet-wrapper stretch-height">
      <div *ngIf="data" class="chart-wrapper relative">
        <app-nvd3 [options]="options" [data]="data"></app-nvd3>
      </div>
    </div>
    <div footer>
      <div fxLayout fxLayoutAlign="center center">
        <ui-legend [data]="legendData"></ui-legend>
      </div>
    </div>
  </ui-portlet>
</div>

