//used by bidi drv
.qsm_self{text-align: center}

@import "styles/helpers/ui-reset";
@import "styles/helpers/ui-helper";
@import "styles/overrides/ng-sidebar-overrides";
@import "styles/overrides/primeng-overrides";
@import "styles/helpers/brand";
@import "styles/ui-sprite";
@import "styles/ui-icons";
@import "styles/helpers/fonts";

//icons
@include sprites($spritesheet-sprites);
[class*="ui-icons"] {
  @extend %ui-icons;
}

html,body{
  font-family: 'opensans-regular', sans-serif;
  font-size: 14px;
  min-height: 768px !important;
  min-width: 1366px !important;
  height: 100%;
  overflow: auto;
}
