//used by bidi drv
.qsm_self{text-align: center}

@import "styles/helpers/ui-reset";
@import "styles/helpers/ui-helper";
@import "styles/overrides/ng-sidebar-overrides";
@import "styles/helpers/brand";
@import "styles/ui-sprite";
@import "styles/ui-icons";

//icons
@include sprites($spritesheet-sprites);
[class*="ui-icons"] {
  @extend %ui-icons;
}

html,body{
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}
