//used by bidi drv
.qsm_self{text-align: center}

$circle:#ff6d39;
$status:#3F4459;

:host{
  display: block;
  position: absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background: rgba(255,255,255,.5);
  z-index: 9999;

  .loader{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);;
  }

  /* LOADER 1 */

  #loader-1:before, #loader-1:after{
    content: "";
    position: absolute;
    top: -10px;
    left: -10px;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    border: 10px solid transparent;
    border-top-color: $status;
  }

  #loader-1:before{
    z-index: 100;
    animation: spin 2s infinite;
  }

  #loader-1:after{
    border: 10px solid $circle;
  }

  @keyframes spin{
    0%{
      -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }

    100%{
      -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }

}
